.bs-sidenav {
  /*margin-top: 30px;*/
  /*margin-bottom: 30px;*/
  padding-top: 10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 0 #fff;
  /*background-color: #f7f5fa;*/
  /*border-radius: 5px;*/
  cursor: default;
}
/* All levels of nav */
.bs-sidenav > li > a {
  display: block;
  color: #716b7a;
  padding: 2px 2px;
  padding-right: 15px;
  border-left: 2px solid #f7f5fa;
}
.bs-sidenav > li > a:hover, .bs-sidenav > li > a:focus {
  text-decoration: none;
  background-color: #dbd8e0;
  border-left: 2px solid #dbd8e0;
}
.bs-sidenav > .active > a, .bs-sidenav > .active:hover > a, .bs-sidenav > .active:focus > a {
  font-weight: bold;
  color: #563d7c;
  border-left: 2px solid #563d7c;
}

.bs-sidenav > .active > a {
  background-color: #e5e3e9;
}
