body {
    background: #fafafa;
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-family: droid_sans;
    color: #333;
}

.ellipsize {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

input[type="range"] {
  -webkit-appearance: none;
  -moz-apperance:none;
  apperance:none;
  height: 4px;
  margin-bottom: 2px;
  border-radius: 4px;
  width: 100%;
  background: #c2c2c2;
}

input::-webkit-slider-thumb {
  -webkit-appearance:none;
  -moz-apperance:none;
  apperance:none;
  width:10px;
  height:10px;
  border-radius:10px;
  background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #010101),
    color-stop(0.49, #333333), color-stop(0.51, #3e3e3e), color-stop(1, #6e6e6e));
}

.btn-group-full {
  width: 100%;
  margin-left: 0px;
  margin-bottom: 10px;
}

.btn-wide {
  width: 50%;
}

.input-block-level {
  min-height: 0px;
}

.flex-parent, .flex-parent-vertical {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.flex-parent {
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.flex-parent-vertical {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.spacer {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 0;
  -ms-flex: 1 1 0;
  flex: 1 1 0;
}

.list-box {
  height: 560px;
  cursor: default;
  margin-bottom: 0px;
}

.nav-box {
  height: 600px;
  margin-right: 20px;
  cursor: default;
  margin-bottom: 0px;
}

.scrolled {
  overflow: hidden;
  position: relative;
}

.scroll-parent {
  margin-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.non-opaque {
  opacity: 0.1;
}

.opaque {
  opacity: 1;
}

.queue-badge {
  cursor: pointer;
}

#new_name {
  width: 164px;
  height: 16px;
  font-size: 13px;
}

.clickable {
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
}
/*
::-webkit-scrollbar {
  height: 8px;
  overflow: visible;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.2);
  background-clip: padding-box;
  border: solid transparent;
  border-radius: 4px;
  border-width: 2px 2px 2px 0px;
  min-height: 28px;
}

::-webkit-scrollbar-thumb:horizontal {
  border-width: 0px 2px 2px 2px;
}

::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}

::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
*/

