<div ng-controller="ListscontrollerCtrl" class="container">
    <div class="row" ng-show="active.name">
        <h1 class="span9 offset2">{{active.name}}</h1>
    </div>
    <div class="row" ng-show="active.name">
        <audio player autoplay preload="metadata" class="span9 offset2">
          <source src="{{mediabase+active.path+'/'+curr}}" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
        <div ng-include="'views/controls.html'"></div>
    </div>
    <hr ng-show="active.name" style="margin-right:40px"/>
    <div class="row">
        <div class="span2">
            <ul class="well nav nav-list">
                <li class="{{{true:'active', false:'inactive'}[li==active]}}" ng-repeat="li in lists">
                    <a ng-click="activate(li)" title="{{li.name}}" class="ellipsize">
                        {{li.name}}
                    </a>
                </li>
            </ul>
        </div>
        <div class="span9" ng-show="active.name">
            <ul class="well nav nav-list list-box">
                <li ng-repeat="f in active.files" class="{{{true:'active', false:'inactive'}[f==curr]}}">
                    <a ng-click="select(f)">
                        {{f}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
