<div class="container well">
  <div class="row">
    <h1 class="text-center">{{active.name}}&nbsp;</h1>
  </div>
  <div class="row">
    <audio player autoplay preload="metadata" class="span9 offset2">
      <source src="{{mediabase+curr}}" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
  </div>
  <div ng-include="'views/controls.html'" class="row"><!--  ng-show="active.name"> --></div>

  <hr style="margin: 10px auto" />
  <div class="row flex-parent">
    <div class="span3 nav-box flex-parent-vertical">
      <div>
        <ul class="btn-group btn-group-full flex-parent">
          <li class="btn btn-small spacer" ng-class="{'active':listview=='files'}" ng-click="listview='files'">files</li>
          <li class="btn btn-small spacer" ng-class="{'active':listview=='lists'}" ng-click="listview='lists'">lists</li>
        </ul>
      </div>
      <div class="scrolled well spacer" style="margin-bottom:0px;" ng-show="listview=='files'" perfect-scrollbar>
        <ul class="nav nav-list">
          <li ng-class="{'active': li==active, 'inactive': li!=active}" ng-repeat="li in mediadirs">
            <a ng-click="activate(li)" title="{{li.name}}" class="ellipsize">
              {{li.name}}
            </a>
          </li>
        </ul>
      </div>
      <div class="input-append" ng-show="listview=='lists' && edit">
        <input type="text" name="newName" id="new_name" ng-model="new_list.name" />
        <button type="button" class="btn" ng-click="list_add()">Add</button>
      </div>
      <div class="scrolled well spacer" style="margin-bottom:0px;" ng-show="listview=='lists'" perfect-scrollbar>
        <ul class="nav nav-list">
          <li ng-class="{'active': li==active}" ng-repeat="li in lists">
            <a ng-click="activate(li)" title="{{li.name}}" f-drop drop="li">
              <div class="flex-parent">
                <span class="ellipsize spacer">{{li.name}}</span>
                <div ng-show="edit">
                  <i class="icon-trash clickable" ng-click="list_delete(li, $event)"></i>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="spacer well list-box scrolled" perfect-scrollbar>
      <ul class="nav nav-list">
        <li ng-repeat="f in active.files" ng-class="{'active': f==curr}">
          <a ng-click="select(f)" f-drag drag="f">
            <div class="flex-parent">
              <span class="ellipsize spacer">{{f.name}}</span>
              <i class="icon-trash clickable" ng-click="list_pop(active, f, $event)" ng-show="active_type=='lists' && edit"></i>
              <span class="badge queue-badge" ng-class="{'opaque': queue_pos(f)>-1, 'badge-info': queue_pos(f)>-1, 'non-opaque': queue_pos(f)<0}" ng-click="queue_toggle(f, $event)">
                {{queue_pos(f)+1 || '&nbsp;'}}
              </span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
