<div class="container well">
  <div class="row">
    <h1 class="text-center">{{active.name}}&nbsp;</h1>
  </div>
  <div class="row">
    <audio player autoplay preload="metadata" class="span9 offset2">
      <source src="{{mediabase+active.path+'/'+curr}}" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
  </div>
  <div ng-include="'views/controls.html'" class="row"><!--  ng-show="active.name"> --></div>

  <hr style="margin: 10px auto" />
  <div class="row flex-parent">
    <div class="span3" style="margin-right: 20px">
      <ul class="well nav nav-list list-box">
        <li ng-class="{'active': li==active, 'inactive': li!=active}" ng-repeat="li in lists">
          <a ng-click="activate(li)" title="{{li.name}}" class="ellipsize">
            {{li.name}}
          </a>
        </li>
      </ul>
    </div>
    <div class="spacer">
      <ul class="well nav nav-list list-box">
        <li ng-repeat="f in active.files" ng-class="{'active': f==curr, 'inactive': f!=curr}">
          <a ng-click="select(f)">
            <div class="flex-parent">
              <span class="ellipsize spacer">{{f}}</span>

              <span class="badge" ng-class="{'opaque': queue_pos(f)>-1, 'badge-info': queue_pos(f)>-1, 'non-opaque': queue_pos(f)<0}" ng-click="this.enqueue(f, $event)">
                {{queue_pos(f)+1 || '&nbsp;'}}
              </span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
