<audio player autoplay preload="metadata">
  <source src="{{mediabase+curr}}" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>

<div class="col-md-12">
  <div class="btn btn-default btn-xs btn-block disabled">
    <input type="range" id="audio" value="0" max="{{gradiation}}" time-bar></input>
  </div>
</div>
<div class="btn-group col-md-12 flex-parent">
  <button type="button" class="btn btn-default btn-xs" ng-click="prev()">
    <i class="glyphicon glyphicon-step-backward"></i>
  </button>
  <button type="button" class="btn btn-default btn-xs" ng-click="rev()">
    <i class="glyphicon glyphicon-backward"></i>
  </button>
  <button type="button" class="btn btn-default btn-xs" ng-click="stop()">
    <i class="glyphicon glyphicon-stop"></i>
  </button>
  <button type="button" class="btn btn-default btn-xs" ng-click="play_pause()">
    <i class="glyphicon" ng-class="{'glyphicon-play': player.paused, 'glyphicon-pause': !player.paused}"></i>
  </button>
  <button type="button" class="btn btn-default btn-xs" ng-click="ff()">
    <i class="glyphicon glyphicon-forward"></i>
  </button>
  <button type="button" class="btn btn-default btn-xs" ng-click="next()">
    <i class="glyphicon glyphicon-step-forward"></i>
  </button>
  <button type="button" class="btn btn-default btn-xs" ng-class="{'active': random}" ng-click="random_toggle()">
    <i class="glyphicon glyphicon-random" ng-class="{'glyphicon-white': random}"></i>
  </button>
  <button type="button" class="btn btn-default btn-xs" ng-class="{'active': repeat}" ng-click="repeat_toggle()">
    <i class="glyphicon glyphicon-repeat" ng-class="{'glyphicon-white': repeat}"></i>
  </button>
  <button type="button" class="btn btn-default btn-xs" ng-class="{'active': edit}" ng-click="edit_toggle()">
    <i class="glyphicon glyphicon-wrench" ng-class="{'glyphicon-white': edit}"></i>
  </button>
  <button type="button" class="btn btn-default btn-xs" ng-show="edit" ng-click="rescan()">
    <i class="glyphicon glyphicon-refresh"></i>
  </button>
  <span class="btn btn-default btn-xs disabled spacer"></span>
  <button type="button" class="btn btn-default btn-xs" ng-class="{'active': muted || player.volume==0}" ng-click="mute_toggle()">
    <i class="glyphicon" ng-class="{'glyphicon-volume-up': !muted && player.volume>0, 'glyphicon-volume-off glyphicon-white': muted || player.volume==0}"></i>
  </button>
  <span class="btn btn-default btn-xs disabled">
    <input type="range" id="volume" value="{{init_volume * 100}}" volume-changed></input>
  </span>
  <button type="button" class="btn btn-default btn-xs disabled">
    {{time | timeDisplay}} / {{duration | timeDisplay}}
  </button>
</div>
