<audio player preload="metadata" init-volume="0.1">
  <source src="{{getMediabase()+state.curr.path}}" type="audio/mpeg" />
  Your browser does not support the audio element.
</audio>

<div class="col-md-12">
  <div class="btn btn-default btn-xs btn-block range-container">
    <input type="range" id="audio" value="0" max="{{getGradation()}}" time-bar></input>
  </div>
</div>
<div class="btn-group btn-group-xs col-md-12 flex-h">
  <button type="button" class="btn btn-default" ng-click="prev()">
    <i class="glyphicon glyphicon-step-backward"></i>
  </button>
  <button type="button" class="btn btn-default" ng-click="rev()">
    <i class="glyphicon glyphicon-backward"></i>
  </button>
  <button type="button" class="btn btn-default" ng-click="stop()">
    <i class="glyphicon glyphicon-stop"></i>
  </button>
  <button type="button" class="btn btn-default" ng-click="play_pause()">
    <i class="glyphicon" ng-class="{'glyphicon-play': getPaused(), 'glyphicon-pause': !getPaused()}"></i>
  </button>
  <button type="button" class="btn btn-default" ng-click="ff()">
    <i class="glyphicon glyphicon-forward"></i>
  </button>
  <button type="button" class="btn btn-default" ng-click="next()">
    <i class="glyphicon glyphicon-step-forward"></i>
  </button>
  <button type="button" class="btn btn-default" ng-class="{'active': flags.random}" ng-click="random_toggle()">
    <i class="glyphicon glyphicon-random" ng-class="{'glyphicon-white': flags.random}"></i>
  </button>
  <button type="button" class="btn btn-default" ng-class="{'active': flags.repeat}" ng-click="repeat_toggle()">
    <i class="glyphicon glyphicon-repeat" ng-class="{'glyphicon-white': flags.repeat}"></i>
  </button>
  <button type="button" class="btn btn-default" ng-class="{'active': flags.edit}" ng-click="edit_toggle()">
    <i class="glyphicon glyphicon-wrench" ng-class="{'glyphicon-white': flags.edit}"></i>
  </button>
  <button type="button" class="btn btn-default" ng-show="flags.edit" ng-click="rescan()">
    <i class="glyphicon glyphicon-refresh"></i>
  </button>
  <button type="button" class="btn btn-default" ng-class="{'active': flags.link}" ng-show="flags.edit" ng-click="link_toggle()">
    <i class="glyphicon glyphicon-link"></i>
  </button>

  <span class="btn btn-default disabled spacer">&nbsp;</span>
  <button type="button" class="btn btn-default" ng-class="{'active': flags.muted || player.volume==0}" ng-click="mute_toggle()">
    <i class="glyphicon" ng-class="{'glyphicon-volume-up': !flags.muted && getVolume()>0, 'glyphicon-volume-off': flags.muted || getVolume()==0}"></i>
  </button>
  <span class="btn btn-default range-container">
    <input type="range" id="volume" volume-bar></input>
  </span>
  <button type="button" class="btn btn-default disabled">
    {{timeLabel.time | timeDisplay}} / {{timeLabel.duration | timeDisplay}}
  </button>
</div>
