<perfect-scrollbar class="scrolled" refresh-on-change="state.active+state.active.files.length">
  <ul class="nav bs-sidenav">
    <li ng-repeat="f in state.active.files" ng-class="{'active': f==state.curr}">
    <a ng-click="select(f)" f-drag drag="f">
      <div class="flex-h">
        <span class="ellipsize spacer">{{f.name}}</span>
        <div ng-show="state.active_type=='lists' && flags.edit">
          <i class="icon-trash clickable" ng-click="list_pop(state.active, f, $event)"></i>
        </div>
        <span class="badge queue-badge" ng-class="{'opaque': queue_pos(f)>-1, 'badge-info': queue_pos(f)>-1, 'non-opaque': queue_pos(f)<0}" ng-click="queue_toggle(f, $event)">
          {{queue_pos(f)+1 || '&nbsp;'}}
        </span>
      </div>
    </a>
    </li>
  </ul>
</perfect-scrollbar>
